.timeline {
    position: relative;
    /* Restrict the width on large screens */
    margin: 0 auto;
    /* Center the content */
    padding: 30px;
}

.timeline::after {
    content: "";
    position: absolute;
    width: 6px;
    background-color: #eee;
    top: 0;
    bottom: 0;
    left: 50%;
    margin-left: -3px;
    box-shadow: 0 4px 6px -1px rgba(0, 0, 0, 0.1);
    z-index: 1;
}

.timelineA {
    position: relative;
    width: 50%;
    height: 350px;
}

.timelineA-left {
    left: 0;
    padding-right: 70px;
    text-align: right;
}

.timelineA-right {
    left: 50%;
    padding-left: 70px;
    text-align: left;
}

.content {
    padding: 30px;
    background-color: white;
    position: relative;
    border-radius: 6px;
    /* box-shadow: 0 4px 6px -1px rgba(0, 0, 0, 0.1); */
}

.timelineA .content::before {
    content: " ";
    height: 0;
    position: absolute;
    top: 35px;
    width: 0;
    z-index: 1;
    border: medium solid white;
}

.timelineA-left .content::before {
    right: -10px;
    border-width: 10px 0 10px 10px;
    border-color: transparent transparent transparent white;
}

.timelineA-right .content::before {
    left: -10px;
    border-width: 10px 10px 10px 0;
    border-color: transparent white transparent transparent;
}

.image {
    position: absolute;
    width: 350px;
    height: 350px;
    background-size: cover;
    background-position: center;
    border: solid 5px #ffffff;
    border-radius: 150px;
    /* box-shadow: 0 4px 6px -1px rgba(0, 0, 0, 0.1); */
    /* z-index: 2; */
}

.image>img {
    border-radius: 50px;
}

.timelineA-left .image {
    right: 0;
    margin-right: -400px;
}

.timelineA-right .image {
    left: 0;
    margin-left: -400px;
}

.content span {
    color: rgb(25, 41, 54, 0.8);
    font-size: 1.1em;
    font-weight: bold;
}

.content h2 {
    font-size: 1.8em;
    padding-top: 5px;
}

.content p {
    line-height: 1.6;
    padding-top: 5px;
}

@media screen and (max-width: 767px) {
    .timeline::after {
        left: 0;
    }
    .image {
        display: none;
    }
    .timelineA {
        width: 100%;
        padding-left: 0px;
        padding-right: 0px;
        margin-top: 30px;
    }
    .timelineA:first-of-type {
        margin-top: 0px;
    }
    .timelineA-right {
        left: 0%;
    }
    .timelineA-left {
        text-align: left;
    }
    .timelineA .image {
        left: -10px;
        top: 0px;
        margin-left: 0;
        margin-right: 0;
    }
    .timelineA-left .content::before {
        left: -10px;
        right: auto;
        border-width: 10px 10px 10px 0;
        border-color: transparent white transparent transparent;
    }
}

@media screen and (max-width: 480px) {
    .timelineA {
        padding-left: 0px;
        padding-top: 105px;
        z-index: 3;
    }
    .timelineA .content::before {
        left: 25px;
        top: -10px;
        border: medium solid white;
        border-width: 0 10px 10px 10px;
        border-color: transparent transparent white transparent;
    }
}