{% extends "account/base.html" %} {% load crispy_forms_tags %} {% load i18n %} {% load account %} {% block head_title %}{% trans "Confirm E-mail Address" %}{% endblock %} {% block current %}
<h1>Confirm <span>Email</span></h1>{% endblock current%} {% block breadcrumb %}
<li>Confirm Email</li>
{% endblock breadcrumb %} {% block content %} {% if confirmation %} {% user_display confirmation.email_address.user as user_display %}

<p>{% blocktrans with confirmation.email_address.email as email %}Please confirm that <b><i><a href="mailto:{{ email }}">{{ email }}</a></i></b> is an e-mail address for user <b><i>{{ user_display }}</i></b>.{% endblocktrans %}</p>


<form id="signup_form" method="POST" action="{% url 'account_confirm_email' confirmation.key %}">
    {% csrf_token %} {{ form|crispy }}
    <button type="submit" class="submit-button">Confirm</button>
</form>


{% else %} {% url 'account_email' as email_url %}

<p>{% blocktrans %}This e-mail confirmation link expired or is invalid. Please <a href="{{ email_url }}">issue a new e-mail confirmation request</a>.{% endblocktrans %}</p>

{% endif %} {% endblock %}