{% extends "account/base.html" %} {% load crispy_forms_tags %} {% load i18n %} {% load account socialaccount %} {% block head_title %} {% trans "Sign In" %}{% endblock %} {% block breadcrumb %}
<li>Sign In</li>
{% endblock breadcrumb %} {% block current %}
<h1>Sign <span>IN</span></h1>{% endblock current%} {% block content %}


<form method="POST" action="{% url 'account_login' %}">
    <div class="sign-in-form">
        {% csrf_token %} {{ form|crispy }} {% if redirect_field_value %}
        <input type="hidden" name="{{ redirect_field_name }}" value="{{ redirect_field_value }}" /> {% endif %}
        <a class="button secondaryAction" href="{% url 'account_reset_password' %}">Forgot Password?</a>
        <div class="sign-in-settings">
            <a href="{% url 'account_signup' %}">Need an account? <b style="color: #1a2b3a;">Signup</b></a>
        </div>
        <input type="submit" class="submit-button" value="Signin">
    </div>
</form>

{% endblock %}