{% extends "account/base.html" %} {% load crispy_forms_tags %} {% load i18n %} {% block head_title %}{% trans "Change Password" %}{% endblock %} {% block current %}
<h1>Reset <span>Password</span></h1>{% endblock current%}{% block breadcrumb %}
<li>Reset Password</li>
{% endblock breadcrumb %} {% block content %} {% if token_fail %} {% url 'account_reset_password' as passwd_reset_url %}
<p>{% blocktrans %}The password reset link was invalid, possibly because it has already been used. Please request a <a href="{{ passwd_reset_url }}">new password reset</a>.{% endblocktrans %}</p>
{% else %} {% if form %}


<form id="signup_form" method="POST" action="{{ action_url }}">
    {% csrf_token %} {{ form|crispy }} {% if redirect_field_value %}
    <input type="hidden" name="{{ redirect_field_name }}" value="{{ redirect_field_value }}" /> {% endif %}
    <p>Please
        <a href="{% url 'contact' %}"><b style="color: #1a2b3a;">Contact Us</b></a> if you have any trouble resetting your password.
    </p>
    <input class="submit-button" type="submit" name="action" value="{% trans 'change password' %}" />
</form>


{% else %}
<p>{% trans 'Your password is now changed.' %}</p>
{% endif %} {% endif %} {% endblock %}