{% extends "account/base.html" %} {% load i18n %} {% load account %} {% block head_title %}{% trans "Password Reset" %}{% endblock %} {% block current %}
<h1>Password <span>Reset</span></h1>{% endblock current%} {% block breadcrumb %}
<li>Password Reset</li>
{% endblock breadcrumb %} {% block content %} {% if user.is_authenticated %} {% include "account/snippets/already_logged_in.html" %} {% endif %}

<p>We have sent you an e-mail. Do check your spams too. Please <a href="{% url 'contact' %}"><b style="color: #1a2b3a;">Contact Us</b></a> if you do not receive it within a few minutes.</p>
{% endblock %}