{% extends "account/base.html" %} {% load crispy_forms_tags %} {% load i18n %} {% block head_title %}{% trans "Signup" %}{% endblock %} {% block current %}
<h1>Sign <span>Up</span></h1>{% endblock current%} {% block awesomeness %}
<p class="text-white">Your awesome journey starts here...</p>
{% endblock awesomeness %} {% block breadcrumb %}
<li>Sign Up</li>
{% endblock breadcrumb %} {% block content %}
<form id="signup_form" method="post" action="{% url 'account_signup' %}">
    {% csrf_token %} {{ form|crispy }} {% if redirect_field_value %}
    <input type="hidden" name="{{ redirect_field_name }}" value="{{ redirect_field_value }}" /> {% endif %}
    <p>Already have an account? Then please <a href="{{ login_url }}"><b style="color: #1a2b3a;">Signin</b></a>.</p>
    <button type="submit" class="submit-button">Sign Up</button>
</form>

{% endblock %}