{% extends 'blogs/base.html' %} {% block blog_form %} {% load crispy_forms_tags %}
<style>
    .django-ckeditor-widget {
        width: 100%;
    }
</style>

<!--Banner Area Start-->
<div class="banner-area list">
    <div class="container">
        <div class="row">
            <div class="col-md-12">
                <div class="section-title title-three text-center">
                    <div class="title-border">
                        <h1>Write <span>Blogs</span></h1>
                    </div>
                </div>
            </div>
        </div>
        <div class="row">
            <div class="col-md-12 text-center">
                <ul class="breadcrumb three">
                    <li><a href="{% url 'index' %}">Home</a></li>
                    <li>Write blogs</li>
                </ul>
            </div>
        </div>
    </div>
</div>
<!--End of Banner Area-->
<!--Adventures Grid Start-->
<div class="adventures-grid section-padding list">
    <div class="container">
        <div class="row">
            <div class="leave-comment">
                <form method="post" enctype="multipart/form-data" style="margin: 20px;">
                    {% csrf_token %} {{form.media}} {{form|crispy}}
                    <input type="submit" value="Add Blog" class="submit-button">
                </form>
            </div>
        </div>
    </div>
</div>
<!--End of Adventures Grid-->
{% endblock blog_form %}